ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
pre.paragraph {
    padding-right: 198px;
}
/*.img
{
  height:218px;
}*/

li {
  float: left;
}


input[type=submit] {
  background-color: #d77145;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  display: grid;
  width: 15%;
  margin-left: 243px;
}
.footer-link.contact
{
  padding-top: 5px;
}


.container {
  border-radius: 5px;
 
  padding: 20px;
}
input[type=text], select, textarea {
    width: 372px;
    padding: 12px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    max-width: 1440px;
}
input[type=number], select, textarea {
  width: 69%;
  padding: 12px;
  border: 1px solid black;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
li a {
  display: block;
  color: black; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.footer {
    text-align: center;
    background-color: #1d1d1d;
    color: white;
    margin: auto;
    width: 101%;
    height: 70px;
    padding-top: 12px;
}

.Gallary
{
  background-color: #d77145;
  height: 300px;
  margin: auto;
}
.menu
{
  background-color: black;
}
.menu li a{
  text-decoration: none;
  color: white;
}
.footer-text
{
  text-align:center;
}

.images
{
   display: flex;
flex-wrap: wrap;
  width: 100%;
 max-width:1440px;
}

.gl
{
  display: flex;;
  margin:auto;
  width: 80%;
  max-width: 1440px;
}



.gimg
{
  width: 20%;
  margin:auto;
}
.container
{
 width:100%;
}
p.para
{
 padding-right: 258px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-family: "Times New Roman", Times, serif;
  font-size: 150%;
}
.footer-link {
    width: 101%;
    height: 230px;
    padding-top: 33px;
}
.menuhome
{
  order: 1;
}
/*.footer-link ul,li
{
 color:white;
}*/
.footer-link menu
{
  
  color: white;

}
.cate
{
  font-size:20px;
}
.c1 {
    font-size: 20px;
}
.c2 {
    font-size: 20px;
}
.c3 {
    font-size: 20px;
}
.c4 {
    font-size: 20px;
}
.c5 {
    font-size: 20px;
}
.c6 {
    font-size: 20px;
}
.c7 {
    font-size: 20px;
}
.c8 {
    font-size: 20px;
}
.c9 {
    font-size: 20px;
}


.tags
{
  font-size:20px;
}
.t1 {
    font-size: 20px;
}
.t2 {
    font-size: 20px;
}
.t3 {
    font-size: 20px;
}
.t4 {
    font-size: 20px;
}
.t5 {
    font-size: 20px;
}
.t6 {
    font-size: 20px;
}
#link{
  text-decoration: none;
  color:white;
  padding-left: 50px;

}
.pd{
  text-align: center;
}
/*li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}*/
.subimg {
    display: flex;
    flex-wrap: wrap;
    width: 136%;
    max-width: 1440px;
}
.grid-part
{
  
  width:100%;
  max-width: 1440px;
 display: flex;
  flex-wrap: wrap;
}
.grid-img{
   width: 50%;
   height:400px;
  margin:auto;
  background-color: #d77145;
  text-align: center;

}

.grid-img > img{
  width: 100%;
  height: 400px;

}

.img-text
{
  padding-top: 90px;
}
.grid-text
{
  background-color: #d77145;
  text-align: center;
  padding-top: 70px;
  width: 50%;

}

.featured-products
{
  display: flex;

margin:auto;
padding-left: 254px;
    
  }


.product
{
  margin:auto;
width: 20%
  padding: 10px;

}
.product-img
{
  margin:auto;
width: 20%
  padding: 10px;
border: 1px solid #f2f2f2;
    border-radius: 4px;
    margin-top: 20px;
}
}

.our-products
{
  display: flex;
  width: 80%;
margin:auto;
text-align: center;
  }
  .text-product
  {
    color:#f11b1b;
  }
  .header-line
  {
    background-color: black;
    height: 50px;
   width: 100%;
  }

.topnav {
  overflow: hidden;

  float:right;

}


.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}
.map
{
  width:100%;
}
.topnav a:hover {
  
  color: black;
}
  .flex-container 
  {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  width: 100%;
}

.flex-container > div {
  width:300px;
  padding: 10px;
  text-align: center;
  margin:auto;
      border: 1px solid #f2f2f2;
    border-radius: 5px;
        padding: 0px;
        margin-top: 22px;
 

}
/*.product1 {
    border: 1px solid #f2f2f2;
    border-radius: 56px;
    padding: 0;
}

.product2 {
    border: 1px solid #f2f2f2;
    border-radius: 56px;
    padding: 0;
}

.product3 {
    border: 1px solid #f2f2f2;
    border-radius: 56px;
    padding: 0;
}

.product4 {
    border: 1px solid #f2f2f2;
    border-radius: 56px;
    padding: 0;
}
*/

.left-text{
  padding-left:148px;
      float: left;
    padding-right: 595px;

}
form.myform {
  
    padding-left: 336px;
}
.flex-container1{

padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  width: 70%;
  padding-left: 200px;
}
.body-coniatner
{
  display: flex;
   padding-left: 50px;


}
.pagination { 
    display: inline-block; 
   padding-left: 448px;
} 
.pagination a { 
    font-weight:bold; 
    font-size:20px; 
    color: black; 
    float: left; 
    padding: 8px 16px; 
    text-decoration: none; 
    border-radius:3px; 
    border:1px solid #c1c1c1; 
} 
.pagination a.active { 
    background-color:#009900; 
} 
.pagination a:hover:not(.active) { 
    background-color: #d4d5d2; 
} 
.GFG { 
    font-size:42px; 
    font-weight:bold; 
    color:#009900; 
    margin-left:100px; 
    margin-bottom:60px; 
} 
.peg { 
    font-size:24px; 
    font-weight:bold; 
    margin-left:110px; 
    margin-bottom:20px; 
} 
.prodcuct-Button
{
  
  margin: auto;
}
.googleMap
{
  width:100%;height:300px;
}
.cform
{
  display: flex;
  width: 100%;
  max-width:1440px;

}
.form
{
  padding-top: 200px;
  
  padding-left: 400px;
  height:400px;
}
.cbutton
{
 padding-left: 60px;
 padding-top: 20px;


}
.fname
{
  padding-left: 10px;
  padding-top: 20px;
  color: #b6bcc5;
  border:1px solid black;
  width:25%;
}

.lname
{
  padding-left: 10px;
  padding-top: 20px;
  columns: #b6bcc5;
  border:1px solid black;
  width:25%;
}
.pnum
{
   padding-left: 10px;
   padding-top: 20px;
   color: #b6bcc5;
   border:1px solid black;
   width:51%;
}
.service{
  padding-left: 10px;
  padding-top: 20px;
  color: #b6bcc5;
  border:1px solid black;
  width:51%;
}
.cbutton
{

 
  background:#d77145;
  color:#FFF;
  
  padding:10px;
  font-size:15px;
  width:70px;
  padding-top: 10px;
  padding-right: 10px;
  border: none;
}
/*.container
   
    {
padding-top: 7px;
    }*/
  /*  .centered
    {
          padding-top: 150px;
    padding-right: 268px;

    }*/
/*@media screen and (min-width: 765px)
 {
   .footer
   {

    
    text-align: center;
   }
   .container
   {
    width:300%;
   }
   .header-line
   {
    width:280% 
   }
   .centered
   {

    text-align: center;
    padding-left: 1364px;
    padding-top: 500px;
    font-size:45px;
   }
}*/

.prodcuct-Button
{
  background-color: #bb4637;
  color: white;
     height: 47px;
    width: 28%;
}


.Home.centered {
  padding-top: 113px;
  padding-right: 275px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-family: "Times New Roman", Times, serif;
  font-size: 150%;
}

.img
{
  background-image: url('../images/img1.png');
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height: 209px;
  display: flex;
}
/*..............................................media query.........................................................*/
.content-about
{
    width: 100%;
    color: white;
    padding-top: 61px;
    padding-left: 311px;
}

.imghome
{
  background-image: url('../images/img1.png');
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height: 450px;
  display: flex;
}
.image.homepage4
{
  width:100%;border-radius: 8%;
}
.image.homepage3
{
  width:100%;border-radius: 8%;
}
.image.homepage2
{
  width:100%;border-radius: 8%;
}
.image.homepage1
{
  width:100%;border-radius: 8%;
}
.Home-centered
{
    width: 100%;
    color: white;
    padding-top: 166px;
    padding-left: 306px;
   font-size: 14px;
}
.product-centered
{
   width: 100%;
    color: white;
      padding-top: 51px;
        padding-left: 278px;
  font-size: 14px;
}
.contact-centered
{
   width: 100%;
    color: white;
    padding-top: 69px;
    padding-left: 250px;
    font-size: 14px;
}
.left-text {
    padding-left: 148px;
    float: left;
    padding-right: 595px;
  
}
/*
@media only screen and (max-width: 1440px) {
  .Gallary {
    background-color: lightblue;
  }*/

}