
@media only screen and  (max-width: 600px)
 {

  .footer.Single-Product
  {
  padding-top: 530px;
  }
  .pagination{
  padding-left: 86px;
}
.topnav a {

  text-decoration: underline;
}
form.myform {
   width:40%; 
   padding-left: 0;
}
input[type=number], select, textarea {
  width: 222%;

}
input[type=submit] {
  
    width: 94%;
    margin-left: 98px;
}

input[type=text], select, textarea {
    width: 413px;
   
}
.contact-centered {
    width: 69%;
    padding-top: 91px;
    padding-left: 25px;
    font-size: 8px;
}
.flex-container > div {
  
    padding-left: 114px;
}
.featured-products {
  display: grid;
      margin: auto;
     padding-left: 128px; 
}

.left-text{
  padding-left:0;
      float: left;
    padding-right: 0;

}
.footer {
  
    padding-top: 533px;
}
p.para {
   
       padding-left: 179px;
    /* width: 62px; */
}
.left-text{
  padding-left:180px;
}
.prodcuct-Button {
  
    width: 173%;
}
.featured-products.details {
  display: block;

  width:50%;
  padding-right: 123px;
}

  .top-header
  {

    width:100%;
    flex-direction: column;
  }

.top-header.product {
    width: 100%;
    flex-direction: column;
  }
.top-header.aboutus
{
  width:100%;
    flex-direction: column;
}
.top-header.product
{
width:100%;
    flex-direction: column;
}
.header-p-text
  {
   width:100%;
  }
  .header-text
  {
   width:100%;
  }
  .menuhome
  {
    width:100%;
    padding-right: 165px;
     text-decoration: underline;
  }
  .menup
  {
    width:100%;
    padding-right: 165px;
     text-decoration: underline;
  }
.footer.Single-Product
{
  padding-top: 530px;
}
.images.home{
    width: 100%;
    background-color: pink;
    padding-right: 20px;
  }
.content-about {
   
    padding-top: 88px;
    /* padding-left: 250px; */
    font-size: 9px;
        padding-left: 0px;
}
.flex-container > div {
   
    padding-right: 105px;
}

.Home-centered
{
    width: 100%;
    color: white;
    padding-top: 166px;
    padding-left: 0px;
   font-size: 9px;
}
  .gl
  {
    width: 100%;
  }
.footer.home
{
  padding-top: 540px;
}
.footer.about {
    padding-top: 535px;
}
.grid-part.about.media {
    width: 100%;
}
.footer.product
{
  padding-top: 530px;
}
.footer-link
{
  width:100%;
}
.flex-container1.product {
    padding-left: 12px;
   /* background-color: lime;*/
}
.product-centered {
    width: 100%;
    color: white;
    padding-top: 82px;
     padding-left: 0; 
    font-size: 9px;
}
}

@media only screen and (max-device-width : 768px)
{
  .header-line {
    background-color: black;
    height: 50px;
    width: 130%;

}
.topnav {
    overflow: hidden;
    
       width: 62%;

    padding-left: 260px;
}
.imghome {
   
    width: 130%;
    
}


.pd {
    text-align: center;
    padding-right: -21px;
    padding-left: 162px;
}
.Gallary {
    background-color: #d77145;
    height: 300px;
    margin: auto;
    /* padding-left: 20px; */
    margin-left: 222px;
    /* padding: 0; */
    /* width: 79%; */
}
.featured-products {
    display: flex;
    margin: auto;
    padding-left: 135px;
}
.footer-link {
    width: 100%;
    height: 366px;
    padding-top: 400px;
}
.footer-link {
    width: 130%;
    height: 272px;
    padding-top: 0px;
    /* padding-top: 400px; */
    /* padding-left: 138px; */
}
.footer.home {
    width: 127%;
}
.img.about {
    background-image: url(../images/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 129%;
    height: 209px;
    display: flex;
}
.grid-part {
    width: 130%;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
}
.footer {
    text-align: center;
    background-color: #1d1d1d;
    color: white;
    margin: auto;
    width: 130%;
    height: 70px;
    padding-top: 12px;
}
.img.product
{
      background-image: url(../images/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 129%;
    height: 209px;
    display: flex;
}
.body-coniatner {
    display: flex;
    padding-left: 50px;
    width: 83%;
}
.pagination {
    display: inline-block;
    padding-left: 548px;
}
p.para {
     padding-right: 0px; 
}
.img.contact
{
  background-image: url(../images/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 128%;
    height: 209px;
    display: flex;
}
.map
{
  width:128%;
}

input[type=text], select, textarea {
    width: 428px;
    padding: 12px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    max-width: 1440px;
}

input[type=submit] {
    background-color: #d77145;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    display: grid;
    width: 25%;
    margin-left: 140px;
}
.left-text {
    padding-left: 148px;
    float: left;
    padding-right: 595px;
     width: 48%; 
}
}
}
