
@media only screen and  (max-width: 600px)
 {
.footer.Single-Product
{
  padding-top: 530px;
}
.images.home{
    width: 100%;
    background-color: pink;
    padding-right: 20px;
  }
  .gl
  {
    width: 100%;
  }
.footer.home
{
  padding-top: 540px;
}
.footer.about {
    padding-top: 535px;
}
.grid-part.about.media {
    width: 100%;
}
.footer.product
{
  padding-top: 530px;
}
.footer-link
{
  width:100%;
}
}
@media only screen and  (min-width: 600px)
 {
.top-header
 
 {
  max-width: 1410px;
 }
.main.imghome
 {
  width:100%;
  max-width: 1410px;
 }
 .pd
 {
   width:100%;
  max-width: 1410px;
 }

   .footer-link {


    width: 146%;
    height: 164px;
}
.featured-products
{
  width: 140%;
  padding-left: 28px;
}
.pd {
    
    width:146%;
}
.Gallary
{

  width: 146%;
}

.imghome
{

  width:146%;
}
.Home.centered
{
      padding-left: 459px;
}

}
.prodcuct-Button
{
  background-color: #d77145;
  color: white;
}


.Home.centered {
  padding-top: 113px;
  padding-right: 275px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-family: "Times New Roman", Times, serif;
  font-size: 150%;
}


.top-header.aboutus 
{

  width:146%;
}
.img.about
{
  width:146%;
}

.centered.about
{
    padding-bottom: 416px;
    padding-left: 159px;
}
.grid-part.about
{
  width:146%;
}
 

}


 }



  
  
 